.SearchBox {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  border-radius: 16px;
  color: #083047;
}

/* Form layout */
.SearchBox form {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Input field */
.SearchBox .MuiTextField-root {
  width: 70%;
}

/* Button */
.SearchBox .MuiButton-root {
  background-color: #165188;
  color: #F2FEFF;
  font-weight: 600;
  border-radius: 8px;
}

/* Button hover */
.SearchBox .MuiButton-root:hover {
  transform: translateY(-1px);
}

/* Error message */
.SearchBox p {
  margin-top: 10px;
  color: #d32f2f;
  font-weight: 300;
}
